$Moderateviolet: hsl(263, 55%, 52%);
$Verydarkgrayishblue: hsl(217, 19%, 35%);
$Verydarkblackishblue: hsl(219, 29%, 14%);
$White: hsl(0, 0%, 100%);
$Lightgray: hsl(0, 0%, 81%);
$Lightgrayishblue: hsl(210, 46%, 95%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Barlow Semi Condensed", sans-serif;
}
body {
  display: flex;
  align-items: center;
  background-color: $Lightgrayishblue;
  font-size: 13px;
}

.main {
  display: grid;
  width: 1440px;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 280px 265px;
  grid-column-gap: 30px;
  grid-row-gap: 25px;
  padding: 0 165px;
}

.box {
  border-radius: 7px;
  padding: 23px 30px;
  box-shadow: 5px 5px 30px -4px #00000029;
}
.box__img {
  height: 32px;
  border-radius: 50%;
  border: 2px solid transparent;
}
.box__img--borderPurple {
  border-color: #a275df;
}
.box__user-info {
  display: inline-block;
  margin-left: 13px;
  position: relative;
  top: -2px;
}
.box__user-name {
  display: block;
  color: $Verydarkblackishblue;
}
.box__user-metainfo {
  font-size: 11px;
  color: $Verydarkgrayishblue;
}

.box__content {
  padding: 0 2px;
}
.box__important {
  font-size: 1.56em;
  display: block;
  margin-top: 13px;
  margin-bottom: 16px;
  color: $Verydarkblackishblue;
}
.box__important--marginB {
  margin-bottom: 25px;
}
.box__normal {
  line-height: 1.39;
  letter-spacing: 0.02px;
  color: $Verydarkgrayishblue;
}

.box1 {
  grid-area: 1 / 1 / 2 / 3;
  background-color: $Moderateviolet;
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x: 355px;
}
.box2 {
  grid-area: 1 / 3 / 2 / 4;
  background-color: $Verydarkgrayishblue;
}
.box3 {
  grid-area: 1 / 4 / 3 / 5;
  background-color: $White;
}
.box4 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: $White;
}
.box5 {
  grid-area: 2 / 2 / 3 / 4;
  background-color: $Verydarkblackishblue;
}
.box--font-white {
  .box__important,
  .box__user-name {
    color: $White;
  }

  .box__normal,
  .box__user-metainfo {
    color: $Lightgray;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1200px) {
  .main {
    grid-template-rows: 1fr 1fr;
    padding: 0 10px;
  }
}

@media screen and (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 25px;
    padding: 70px 24px;
  }
  .box {
    grid-area: auto;
    padding-bottom: 32px;
  }
  .box__content {
    padding-top: 1px;
  }
  .box__normal {
    display: inline-block;
  }

  .box1 {
    order: 1;
    background-position-x: 200px;
  }
  .box2 {
    order: 2;
  }
  .box3 {
    order: 5;
  }
  .box4 {
    order: 3;
  }
  .box5 {
    order: 4;
  }
}
